---
const {annee} = Astro.props
---
<a href={"/" + annee}  class="retour text-lg">Retour au choix des thématiques</a>

<style>
 .retour{
    text-decoration: none;
    position: relative;
    display: block;
    color: white;
    top: -30px;
    left:0px;
    margin-bottom: -30px;
  }
</style>