---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Université de Sherbrooke" />
    <meta name="author" content="Cégep de Sherbrooke" />
    <meta name="author" content="Joshua Vachon" />
    <meta name="description" content="Une semaine intensive, 10 étudiant.e.s du cégep, 10 étudiant.e.s de l'université, des archives carcérales... Un seul objectif : en apprendre plus sur l'histoire de la prison Winter de Sherbrooke">
    <meta name="keywords" content="prison, sherbrooke, archives, prison winter, université de sherbrooke, cégep de sherbrooke, histoire, criminologie, histoire carcérale">
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={new URL(Astro.url)} />
    <meta property="og:image" content={new URL(`/assets/img/main_thumb.png`, Astro.url)} />
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content="Une semaine intensive, 10 étudiant.e.s du cégep, 10 étudiant.e.s de l'université, des archives carcérales... Un seul objectif : en apprendre plus sur l'histoire de la prison Winter de Sherbrooke">
    <meta name="twitter:image" content={new URL(`/assets/img/main_thumb.png`, Astro.url)}>
    <meta name="twitter:card" content="summary_large_image">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  :root{
    --ldark2020: #2F2A2E;
    --ddark2020: #131118;
    --ldark2022: #3B2924;
    --ddark2022: #29140E;
    --orange1: #FB9F4D;
    --orange2: #FA7E2A;
    --orange3: #9F4619;
  }
	html {
		font-family: system-ui, sans-serif;
		background-color: rgba(19,17,24,1);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
